@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

html{
    /* font-family: 'Gloock', serif; */
    background-color: white;
    background-image: url("assets/30.png");
    background-repeat: repeat;
    background-size: 1560px 800px;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0rem;
    overflow: hidden;
  }

div.absolute {
    position: absolute;
    bottom: 10px;
    width: 50%;
    border: 3px solid #8AC007;
  }

/* Columns nearby */
.flexbox-grid{
    display:flex;
    gap: 20px; 
}

/* The setting for both the img and text in first column */
.column{
    border-radius: 15px; 
    padding: 0px 20px;
    flex: 1;
    height: 50%; 

}

/* My photo album */
h1{
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-size: 28px;
    font-family: cursive;
}

/* The first image on the right in first column */
.column img{
    width:60%;
    flex:1;
    border-radius: 30px; 
}

/* The content of the left text in first column*/
.column p1{
    color:white;
    font-size: 25px;
    padding:5px;
}

/* THe title for both the title in first column */
.column h3{
    color:white;
    font-size: 30px;
}
.role video {
    border-radius: 25px;
    width: 100%; 
    height: 90%; 
  }
  
.video-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; 
  }
  
.role {
    border-radius: 15px;
    padding: 0px 20px;
    flex: 1;
    min-width: 0; 
  }

  .role p1{
    color:black;
    font-size: 25px;
}

.role h3{
    color:black;
    font-size: 25px;
}